# Python caches and compiles
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env


# Local databases or logs
*.log
scraped_jobs.json
glassdoor_search.html
*.db

# IDE config
.vscode/
.idea/
.DS_Store
test